@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

:root {
    --darkblue: #0b141e;
    --green: #95e9bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Poppins";
    background-color: var(--darkblue);
    color: white;
    min-height: 1000vh;
}

nav {
    background-color: var(--darkblue) !important;
}

.xs-font {
    font-size: 0.6rem;
}

.s-font {
    font-size: 0.8rem;
}

.m-font {
    font-size: 1rem;
}

.l-font {
    font-size: 1.3rem;
}

.text-green {
    color: var(--green);
}

.btn-green-outline {
    color: var(--green);
    outline: 2px solid var(--green);
}

.btn-green-outline:hover {
    color: var(--darkblue);
    background-color: var(--green);
}

.btn-green {
    color: var(--darkblue);
    background-color: var(--green);
}
